@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-ExtraBold.ttf');
    font-weight: 800;
}



.far {
    font-family: 'FontAwesome';
    font-weight: 400;
}

.fab {
    font-family: 'FontAwesome Brands';
    font-weight: 400;
}

.fad {
    font-family: 'FontAwesome Duotone';
    font-weight: 900;
}

.fas {
    font-family: 'FontAwesome Solid';
    font-weight: 900;
}
.share::before{
    content: '\f1e0';
    color: #DADADA;
    font-size: 16px;
}